//sass --watch index.scss index.css
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(208, 10%, 24%);
}

canvas {
    image-rendering: pixelated;
    width: 5000px;
    height: 3000px;
}

