* {
    box-sizing: border-box;
}

// html {
//     height: 100%
// }

body {
    background-color: rgb(128, 128, 128);
    // height: 100%;
}

#site-wrapper {
    border: 2px orange solid;
    display: flex;
    flex-direction: row;
    // flex-grow: 2;
}


#graph-area {
    border: 2px red solid;
    height: 750px;
    width: 80%;
}

#control-panel {
    height: 750px;
    width: 20%;
}

.graph-area-context-menu {
    position: absolute;
    height: 100px;
    width: 200px;
    // opacity: 50%;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translatee("10000");
    // transform: translate(100px, 200px);
}

