* {
    box-sizing: border-box;
}

// html {
//     height: 100%;
// }

body {
    background-color: gray;
    // height: 100%;
}

#graph-area {
    border: 2px red solid;
    height: 750px;
    width: 1250px;
}